USE [master]
GO
/****** Object:  Database [TripDB]    Script Date: 6/12/2020 9:01:36 AM ******/
CREATE DATABASE [TripDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TripDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TripDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TripDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TripDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TripDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TripDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 6/12/2020 9:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trip]    Script Date: 6/12/2020 9:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reservationName] [nvarchar](50) NULL,
	[fromCity] [int] NULL,
	[toCity] [int] NULL,
	[planID] [int] NULL,
	[tripDate] [date] NULL,
	[nbPerson] [int] NULL,
 CONSTRAINT [PK_Trip] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripPlan]    Script Date: 6/12/2020 9:01:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripPlan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NULL,
	[costPerPerson] [int] NULL,
 CONSTRAINT [PK_TripPlan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_City] FOREIGN KEY([fromCity])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_City]
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_City1] FOREIGN KEY([toCity])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_City1]
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_TripPlan] FOREIGN KEY([planID])
REFERENCES [dbo].[TripPlan] ([id])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_TripPlan]
GO
USE [master]
GO
